<?xml version="1.0"?>

<!--
  如需如何設定 ASP.NET 應用程式的詳細資訊，請造訪
  http://go.microsoft.com/fwlink/?LinkId=169433
  -->

<configuration>

    <connectionStrings>
        <add name="icecreamConnectionString" connectionString="Data Source=ACER;Initial Catalog=icecream;Integrated Security=True"
            providerName="System.Data.SqlClient" />
        <add name="buylistConnectionString" connectionString="Data Source=ACER;Initial Catalog=buylist;Integrated Security=True"
            providerName="System.Data.SqlClient" />
        <add name="buylistConnectionString3" connectionString="Data Source=ACER;Initial Catalog=buylist;Integrated Security=True"
            providerName="System.Data.SqlClient" />
        <add name="buylistConnectionString2" connectionString="Data Source=ACER;Initial Catalog=buylist;Integrated Security=True"
            providerName="System.Data.SqlClient" />
    </connectionStrings>
    <system.web>
        <compilation debug="false" targetFramework="4.0" />
    </system.web>

</configuration>
